* {
    Padding: 0;
    Margin: 0;
    Box-Sizing: Border-Box;
}
*:Not(I) {
    Font-Family: "Poppins", Sans-Serif;
}
Body {
    Background-Color: #Ae9cff;
}
.Container {
    Background-Color: #Ffffff;
    Width: 90vmin;
    Position: Absolute;
    Transform: Translate(-50%, -50%);
    Top: 50%;
    Left: 50%;
    Padding: 80px 50px;
    Border-Radius: 10px;
    Box-Shadow: 0 20px 40px Rgba(38, 33, 61, 0.2);
}
.Search-Box {
    Width: 100%;
    Display: Flex;
    Justify-Content: Space-Between;
}
.Search-Box Input {
    Padding: 5px;
    Width: 70%;
    Border: None;
    Outline: None;
    Border-Bottom: 3px Solid #Ae9cff;
    Font-Size: 16px;
}
.Search-Box Button {
    Padding: 15px 0;
    Width: 25%;
    Background-Color: #Ae9cff;
    Border: None;
    Outline: None;
    Color: #Ffffff;
    Border-Radius: 5px;
}
.Result {
    Position: Relative;
}
.Result H3 {
    Font-Size: 30px;
    Color: #1f194c;
}
.Result .Word {
    Display: Flex;
    Justify-Content: Space-Between;
    Margin-Top: 80px;
}
.Result Button {
    Background-Color: Transparent;
    Color: #Ae9cff;
    Border: None;
    Outline: None;
    Font-Size: 18px;
}
.Result .Details {
    Display: Flex;
    Gap: 10px;
    Color: #B3b6d4;
    Margin: 5px 0 20px 0;
    Font-Size: 14px;
}
.Word-Meaning {
    Color: #575a7b;
}
.Word-Example {
    Color: #575a7b;
    Font-Style: Italic;
    Border-Left: 5px Solid #Ae9cff;
    Padding-Left: 20px;
    Margin-Top: 30px;
}
.Error {
    Margin-Top: 80px;
    Text-Align: Center;
}