{%extends 'base.html' %}
{% block content %}

<form action="/categories/{{category.id}}/delete" method="POST"><button class="btn btn-danger">Delete Category</button></form>
<h4 class="text-center">{{category.name.upper()}} words (Hover to display)</h4>



<div class="d-flex flex-column bd-highlight mb-3">
<ul class="list-group">
{%for x in category.selection_word%}
<li class="list-group-item">
<div class="p-2 bd-highlight">
    <div class="card-body">
        <audio controls id="{{x.id}}" hidden>
            <source src="{{x.audio}}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <button onclick="document.getElementById('{{x.id}}').play();"><i class="bi bi-play" style="font-size: 2rem;"></i></button>
      <h5 class="card-title">{{x.word}}</h5>
      <h6 class="card-subtitle mb-2 text-muted" id="answer">{{x.grammer}} | {{x.pronunciation}}</h6>
      <p class="card-text" id="answer">{{x.definition}}</p>
      <p class="card-text" id="answer">EX:{{x.example}}</p>
      <form style="display:inline;" action="/card/{{x.id}}/delete" method="POST">
        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
      </form>
    </div>
  </div>
</li>
{%endfor%}
</ul>
</div>


{% endblock %}