{% extends 'base.html' %}
{% block content %}
  <div class="home-hero">
    <h1>Flashcard Dictionary</h1>
    <h3>
      <small class="text-muted">A flashcard or flash card (also known as an index card) is a card bearing information on both sides, which is intended to be used as an aid in memorization.</small>
    </h3>
    <hr>
  </div>
  <div class="Container">
    <div class="Search-Box">
        <input type="Text" placeholder="Type The Word Here.." id="Inp-Word"/>
        <button Id="Search-Btn">Search</button>
    </div>
    <div class="result" id="result"></div>
</div>


  {% endblock %}